{% extends 'base.html' %}
{% block con %}
    {% load mathfilters %}
    <div class="container mt-5 mb-5">

        <h1><b>{{ t.subject }}</b></h1>

        <div class="row mt-5">
            <div class="col-lg-8">
                <textarea class="form-control" style="height: 300px; font-size: 30px;" disabled>{{ t.content }}</textarea>
            </div>
            <div class="col-lg-4">
                <img src="{{ t.maker.getpic }}" width="100%">
                <div class="mt-3 text-center">
                    <h4>written by <b>{{ t.maker }}</b></h4>
                </div>
                <div class="text-end mt-3">
                    <h5>{{ t.pubdate|date:'Y년 n월 j일 H:i' }}</h5>
                </div>
            </div>
        </div>


        {% if user in t.voter.all %}
            <div class="row mt-5">
                {% for i in cset %}
                    <div class="col-lg-4">           
                        <img src="{{ i.pic.url }}" width="100%">
                        <div class="text-center mt-3 mb-3">
                            <h5><b>{{ i.name }}</b></h5>
                        </div>

                        <div class="progress mt-2 mb-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ i.choicer.count|div:t.voter.count|mul:100 }}%">{{ i.choicer.count|div:t.voter.count|mul:100 }} %</div>
                        </div>

                        <textarea class="form-control" style="height: 100px;" disabled>{{ i.con }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="text-end mt-4 mb-5">
                <a  class="btn btn-danger btn-lg" href="{% url 'vote:cancel' t.id %}">투표취소</a>
            </div>
        {% else %}
            <form method="post" action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}
                        <div class="col-lg-4">
                            <input class="form-check-input mb-3" type="radio" {% if forloop.first %}checked {% endif %} name="cho" value="{{ i.id }}" id="flexRadioDefault1">
                            <img src="{{ i.pic.url }}"  width="100%">
                            <div class="text-center mt-3 mb-3">
                                <h5><b>{{ i.name }}</b></h5>
                            </div>
                            <textarea class="form-control" style="height: 100px;" disabled>{{ i.con }}</textarea>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-end mt-4 mb-5">
                    <button class="btn btn-dark btn-lg">투표하기</button>
                </div>
            </form>
        {% endif %}


    </div>


{% endblock %}