{% extends 'base.html' %}
{% block con %}
    <div class="container mt-5 mb-5"  style="font-size: 20px; font-weight: bold;">
        <h1><b>정보수정</b></h1>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-5">
                <label class="form-label">USERNAME</label>
                <input type="text" value="{{user}}" disabled class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
                <input type="password" name="upass" class="form-control">
            </div>
            <div class="mb-3 mt-5">
                <label class="form-label">EMAIL</label>
                <input type="text" value="{{user.email}}" name="umail" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">COMMENT</label>
                <textarea class="form-control" name="ucomm">{{ user.comment }}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">USERPIC</label>
                <input type="file" name="upic" class="form-control">
            </div>
            <div class="text-end">
                <a href="{% url 'acc:profile' %}"><button type="button" class="btn btn-dark">BACK</button></a>
                <button class="btn btn-dark">UPDATE</button>
            </div>
        </form>
    </div>
{% endblock %}



