{% extends 'base.html' %}
{% block con %}

    <form method="post">
        <div class="container mt-5 mb-5">
            <h1><b>북마크생성</b></h1>

            <div class="text-end">
                <input type="checkbox" name="impo" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-warning" for="btn-check-outlined">✨</label><br>
            </div>
            <input type="text" name="sname" placeholder="사이트 이름을 입력하세요" class="form-control mt-3">
            <input type="text" name="surl" placeholder="사이트 URL 을 입력하세요" class="form-control mt-4 mb-4">
            <textarea class="form-control" name="scon" placeholder="사이트를 간략하게 설명해주세요" style="height: 100px;"></textarea>
        
            <div class="text-end mt-5">
                <button class="btn btn-dark">생성</button>
            </div>        
        </div>
    </form>
{% endblock %}