{% extends 'base.html' %}
{% block con %}
    
    <div class="container mt-5 mb-5">
        <h1><b>북마크</b></h1>

        <div class="text-end">
            <a class="btn btn-dark" href="{% url 'book:create' %}">북마크생성</a>
        </div>

        <div class="row">
            {% for i in bset %}
                <div class="col-lg-4 mt-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="card-title"><b>{% if i.impo %}💛{% endif %}{{ i.site_name }}</b></h3>
                            <p class="card-text">{{ i.site_con }}</p>
                            <a href="{{ i.site_url }}" target="_blank" class="btn btn-dark">이동</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>


{% endblock %}